name: Build Windows App

on:
  push:
    branches: [ deploy ]
  pull_request:
    branches: [ deploy ]
  workflow_dispatch:

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  discussions: write
  id-token: write
  issues: write
  packages: write
  pages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install briefcase
        pip install toga
    
    - name: Create Windows app
      working-directory: ./standalone
      run: |
        briefcase create windows
        briefcase build windows --update-resources
        briefcase package windows
    
    - name: Upload MSI installer
      uses: actions/upload-artifact@v4
      with:
        name: castle-windows-installer
        path: standalone/dist/Castle-*.msi
        if-no-files-found: warn
